[Unit]
Description=vaultwarden RS server
Documentation=https://github.com/dani-garcia/vaultwarden_rs
After=network.target

[Service]
Environment=NOTIFY_SOCKET=/run/systemd/notify
LimitMEMLOCK=infinity
LimitNOFILE=65535
LimitNPROC=64
RestartSec=2s
Type=simple
User=vaultwarden
Group=vaultwarden
WorkingDirectory=/etc/vaultwarden
ExecStart=/usr/local/bin/vaultwarden
Restart=always
EnvironmentFile=/etc/vaultwarden/.env
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
NoNewPrivileges=true
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
Slice=vaultwarden-httpd.slice

[Install]
WantedBy=multi-user.target
